* {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

.star {
	width: 100%;
	height: 100%;
	background: url("../images/bg.jpg")center top no-repeat;
	.month {
		width: 150px;
		height: 174px;
		background: url("../images/moon.png")center bottom no-repeat;
		position: fixed;
		left: 20%;
		top: 100px;
		z-index: 1;
		animation-name: month;
		animation-duration: 3s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: infinite;
	}
	.cloud-one {
		width: 147px;
		height: 400px;
		background: url("../images/cloud_01.png")center bottom no-repeat;
		position: fixed;
		top: 0;
		left: 13%;
		z-index: 4;
		animation-name: cloud-one;
		animation-duration: 4s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: infinite;
	}
	.cloud-two {
		width: 184px;
		height: 400px;
		background: url("../images/cloud_02.png")center bottom no-repeat;
		position: fixed;
		top: 0;
		left: 36%;
		z-index: 4;
		animation-name: cloud-two;
		animation-duration: 4s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: infinite;
	}
	.cloud-three {
		width: 228px;
		height: 400px;
		background: url("../images/cloud_03.png")center bottom no-repeat;
		position: fixed;
		top: 0;
		left: 66%;
		z-index: 4;
		animation-name: cloud-three;
		animation-duration: 4s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: infinite;
	}
	.cloud-four {
		width: 135px;
		height: 82px;
		background: url("../images/cloud_04.png")center top no-repeat;
		position: absolute;
		top: 190px;
		left: 1000px;
		z-index: 3;
		animation-name: cloud-four;
		animation-duration: 100s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: infinite;
	}
	.wave-one {
		width: 100%;
		height: 200px;
		background: url("../images/wave_03.png")center top no-repeat;
		position: fixed;
		bottom: 100px;
		left: 0;
		z-index: 1;
		animation-name: wave-one;
		animation-duration: 5s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: infinite;
	}
	.ship {
		width: 412PX;
		height: 409px;
		background: url("../images/ship.png")center top no-repeat;
		position: fixed;
		bottom: 80px;
		right: 20%;
		z-index: 2;
		animation-name: ship;
		animation-duration: 4s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: infinite;
	}
	.fish-small {
		width: 235px;
		height: 94px;
		background: url(../images/fish_01.png) no-repeat;
		position: absolute;
		left: 40%;
		bottom: 0px;
		z-index: 3;
		animation-name: fish-small;
		animation-duration: 5s;
		animation-timing-function: linear;
		animation-delay: 2s;
		animation-iteration-count: infinite;
	}
	.wave-two {
		width: 100%;
		height: 200px;
		background: url("../images/wave_02.png")center top no-repeat;
		position: fixed;
		bottom: 50px;
		left: 0;
		z-index: 4;
		animation-name: wave-two;
		animation-duration: 5s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: infinite;
	}
	.fish-big {
		width: 228px;
		height: 139px;
		background: url(../images/fish_02.png) no-repeat;
		bottom: 0px;
		position: absolute;
		left: 30%;
		z-index: 5;
		animation-name: fish-big;
		animation-duration: 5s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: infinite;
	}
	.wave-three {
		width: 100%;
		height: 200px;
		background: url("../images/wave_01.png")center top no-repeat;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 6;
		animation-name: wave-three;
		animation-duration: 5s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: infinite;
	}
	.character {
		width: 650px;
		height: 100px;
		text-shadow: 3px 3px 3px #000;
		font-size: 20px;
		color: #FFF;
		font-family: 'Microsoft YaHei';
		position: absolute;
		right: 100px;
		bottom: 50px;
		z-index: 8;
	}
}

@keyframes cloud-one {
	0% {
		height: 150px;
	}
	50% {
		height: 200px;
	}
	100% {
		height: 150px;
	}
}

@keyframes cloud-two {
	0% {
		height: 300px;
	}
	50% {
		height: 150px;
	}
	100% {
		height: 300px;
	}
}

@keyframes cloud-three {
	0% {
		height: 150px;
	}
	50% {
		height: 300px;
	}
	100% {
		height: 150px;
	}
}

@keyframes cloud-four {
	0% {
		left: 1000px;
	}
	50% {
		left: -1000px;
	}
	100% {
		left: 1000px;
	}
}

@keyframes month {
	0% {
		transform: rotateZ(0deg);
	}
	50% {
		transform: rotateZ(-25deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}

@keyframes ship {
	0% {
		transform: rotateZ(0deg);
	}
	50% {
		transform: rotateZ(-30deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}

@keyframes wave-one {
	0% {
		height: 200px;
	}
	50% {
		height: 150px;
	}
	100% {
		height: 200px;
	}
}

@keyframes wave-two {
	0% {
		height: 150px;
	}
	50% {
		height: 200px;
	}
	100% {
		height: 150px;
	}
}

@keyframes wave-three {
	0% {
		height: 200px;
	}
	50% {
		height: 150px;
	}
	100% {
		height: 200px;
	}
}

@keyframes fish-big {
	0% {
		transform: rotateZ(0deg);
		bottom: 0;
		left: 30%;
	}
	25% {
		transform: rotateZ(-30deg);
		bottom: 20%;
		left: 25%;
	}
	50% {
		transform: rotateZ(-60deg);
		bottom: 30%;
		left: 15%;
	}
	75% {
		transform: rotateZ(-80deg);
		bottom: 20%;
		left: 10%;
	}
	100% {
		transform: rotateZ(-100deg);
		bottom: -10%;
		left: 0;
	}
}

@keyframes fish-small {
	0% {
		transform: rotateZ(0deg);
		bottom: 0;
		left: 40%;
	}
	25% {
		transform: rotateZ(-20deg);
		bottom: 20%;
		left: 35%;
	}
	50% {
		transform: rotateZ(-40deg);
		bottom: 45%;
		left: 20%;
	}
	75% {
		transform: rotateZ(-60deg);
		bottom: 20%;
		left: 10%;
	}
	100% {
		transform: rotateZ(-80deg);
		bottom: -10%;
		left: 0;
	}
}
